.allResys {
  display: flex;
  flex-direction: column;
}

.resy-cards {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.cancel {
  background-color: teal;
  color: white;
}
